.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.poster {
  width: 200px;
  margin: 15px;
  border-radius: 5px;
  background-color: #fcfa935d;
}

.moviesList {
  margin: 0, auto;
  display: flex;
  flex-wrap: wrap;
}
.title {
  font-size: 20px;
  color: #2b2a2a;
  /* color: #ffd903; */
  text-align: center;
}

.titleList {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.posterImg {
  border-radius: 5px;
  width: 200px;
}
