.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.poster {
  width: 200px;
  margin: 15px;
}

.moviesList {
  margin: 0, auto;
  display: flex;
  flex-wrap: wrap;
}
.title {
  font-size: 20px;
  color: rgb(73, 8, 110);
}

.titleList {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
