.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1);
  -moz-box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1);
  box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1);
}
.navLink {
  padding: 20px;
  font-size: 20px;
  color: rgb(73, 8, 110);
  font-weight: 500;
}
.navLink:hover,
.navLink:focus {
  color: #e72596;
}
