.header {
  background: rgb(59, 52, 45);
  background: linear-gradient(
    86deg,
    rgba(59, 52, 45, 1) 16%,
    rgba(247, 220, 1, 1) 50%,
    rgba(59, 52, 45, 1) 87%
  );
  /* background-color: #424242; */
  /* -webkit-box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1);
  -moz-box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1);
  box-shadow: 2px 7px 5px -1px rgba(148, 145, 148, 1); */
}

.nav {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navLink {
  padding: 20px;
  font-size: 20px;
  color: #ffd903;
  font-weight: 500;
}
.navLink:hover,
.navLink:focus {
  color: #fc7a01;
}
/* .active {
  color: #e72596;
  text-decoration: underline;
} */
